<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VebPocetak</display-name>
  
  
  <welcome-file-list>
  	<welcome-file>HomeServlet</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>servlets.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>servlets.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RestorantServlet</servlet-name>
    <servlet-class>servlets.RestorantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestorantServlet</servlet-name>
    <url-pattern>/RestorantServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RegistrationMenagerServlet</servlet-name>
    <servlet-class>servlets.RegistrationMenagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationMenagerServlet</servlet-name>
    <url-pattern>/RegistrationMenagerServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RestorantDisplayServlet</servlet-name>
    <servlet-class>servlets.RestorantDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestorantDisplayServlet</servlet-name>
    <url-pattern>/RestorantDisplayServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FilteringRestorantServlet</servlet-name>
    <servlet-class>servlets.FilteringRestorantServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilteringRestorantServlet</servlet-name>
    <url-pattern>/FilteringRestorantServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>RestorantDisplayDetailedServlet</servlet-name>
    <servlet-class>servlets.RestorantDisplayDetailedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestorantDisplayDetailedServlet</servlet-name>
    <url-pattern>/RestorantDisplayDetailedServlet</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
    <servlet-name>CreateArticalServlet</servlet-name>
    <servlet-class>servlets.CreateArticalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateArticalServlet</servlet-name>
    <url-pattern>/CreateArticalServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ArticalDisplayServlet</servlet-name>
    <servlet-class>servlets.ArticalDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticalDisplayServlet</servlet-name>
    <url-pattern>/ArticalDisplayServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>ArticalUpdateServlet</servlet-name>
    <servlet-class>servlets.ArticalUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticalUpdateServlet</servlet-name>
    <url-pattern>/ArticalUpdateServlet</url-pattern>
  </servlet-mapping>
  
  
  

  
   <servlet>
    <servlet-name>OrderDisplayServlet</servlet-name>
    <servlet-class>servlets.OrderDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderDisplayServlet</servlet-name>
    <url-pattern>/OrderDisplayServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>AddArticalToBasket</servlet-name>
    <servlet-class>servlets.AddArticalToBasket</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddArticalToBasket</servlet-name>
    <url-pattern>/AddArticalToBasket</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>BasketServlet</servlet-name>
    <servlet-class>servlets.BasketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketServlet</servlet-name>
    <url-pattern>/BasketServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BasketUpdateServlet</servlet-name>
    <servlet-class>servlets.BasketUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketUpdateServlet</servlet-name>
    <url-pattern>/BasketUpdateServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>BasketDeleteServlet</servlet-name>
    <servlet-class>servlets.BasketDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BasketDeleteServlet</servlet-name>
    <url-pattern>/BasketDeleteServlet</url-pattern>
  </servlet-mapping>
  
	<servlet>
    <servlet-name>OrderChangeByAnybodyGoodProjectServlet</servlet-name>
    <servlet-class>servlets.OrderChangeByAnybodyGoodProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderChangeByAnybodyGoodProjectServlet</servlet-name>
    <url-pattern>/OrderChangeByAnybodyGoodProjectServlet</url-pattern>
  </servlet-mapping>
  
   
</web-app>